/* TAGLINE
========================================================================== */

/*
* tagline in headerMain
*/
.tagline {
    font-size:18px;
    line-height:1;
    text-align:right;

    color: lighten($gray-light,20);
}
