// -----------------------------------------------------------------------------
// TOOL LIST
// -----------------------------------------------------------------------------
.toolList {
  font-size:13px;
  list-style: none;
  padding: 0;
  margin-left: 0;
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: center;
  overflow-y:auto;
  //align-items:flex-start;
  font-weight:400;
  > li {
    
    background: $gray-lighter;
    border-radius: 50px;
    margin: $spacer/4;
    a {
      display:block;
      padding: $spacer/4 $spacer/2;
      text-decoration: none;
      color: $gray;
      @extend .icon-cog;
      &:before {
        @extend %iconStyle;
        font-size: 15px;
      }
      &:hover {
        &:before {
          animation: spin 1s infinite linear;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
