// -----------------------------------------------------------------------------
// User info/tools in header
// -----------------------------------------------------------------------------
.user {
	display:flex;
	align-items:center;
	font-size:12px;
	justify-content:center;
	position:relative;
}
.user_img {
	img {
		border-radius:50%;
	}
}
.user_bug {
	left:-3px;
	top:-3px;
}