<!-- Main Header HTML -->
header.headerMain
	.headerMain-util
		.headerMain-utilInner
			.headerMain-utilZone01 utilZone01
			.headerMain-utilZone02 utilZone02
			.headerMain-utilZone03 utilZone03
	.headerMain-main
		.headerMain-mainInner
			.headerMain-mainZone01
				include header-components/_logoMain.pug
			.headerMain-mainZone02 
				nav.navMain
					ul
						li
							a(href='home.html') link 01
						li
							a(href='home.html') link 02
						li
							a(href='home.html') link 03
						li
							a(href='home.html') link 04
						li
							a(href='home.html') link 05
						li
							a(href='home.html') link 06
			.headerMain-mainZone03
				include header-components/_user.pug
