.navBar
	.navBar_menuToggle
		.navBar_menuIcon
			span.navBar_menuPatty
			span.navBar_menuPatty
			span.navBar_menuPatty
			span.navBar_menuPatty
			span.navBar_menuPatty
			span.navBar_menuPatty
	.navBar_searchToggle
		.navBar_searchIcon
	.navBar_face
	include _navMain.pug
	include _searchMain.pug
	.navBar_overlay