.user.navBar_user
	a(href="")
		//.user_info Bartholomew Andersson
		.bug.user_bug 3
		.user_img
			img(src="http://fillmurray.com/40/40")
			//.dropdown
				button#dropdownMenuButton.user_btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', style="background-image:url(http://fillmurray.com/40/40)")
				.dropdown-menu.dropdown-menu-right.user_dropdown(aria-labelledby='dropdownMenuButton')
					a.dropdown-item(href='#') Action
					a.dropdown-item(href='#') Another action
					a.dropdown-item(href='#') Something else here
