/* MAIN FOOTER
========================================================================== */

.footerMain {
    flex:0 0 auto;

    position: relative;
    z-index: 3;
    border-top:1px solid $gray-light;
    font-size:14px;
    padding: $spacer;
}