.user
	.user_info Bartholomew Anderrson
	.user_img
		.dropdown
			button#dropdownMenuButton.user_btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', style="background-image:url(http://fillmurray.com/40/40)")
			.dropdown-menu.dropdown-menu-right.user_dropdown(aria-labelledby='dropdownMenuButton')
				a.dropdown-item(href='#') Action
				a.dropdown-item(href='#') Another action
				a.dropdown-item(href='#') Something else here
