doctype html
html(lang="en")
	head
		include includes/_head.pug
		title Home

	body
		form#form01
			.pageWrap
				include includes/_navBar.pug
				include includes/_header-main.pug
				main
					.container-fluid
						.row.widgets
							.col-md-6
								.row
									.col-12.widget.widget--3-2
										.widget_content.widget_content--img(style="background-image:url(http://fillmurray.com/775/563")
											a(href="", class="widget_fullLink")
											.widget_topBar
												span.widget_indicator News : Video
											h3.widget_heading Everything you need to know to start a "Client Conversation"
											ul.widget_infoList
												li Dec 29, 2016
												li.icon-heart 103
									.col-md-6.widget.widget--2-1
										.widget_content.widget_content--img(style="background-image:url(http://fillmurray.com/395/185")
											a(href="", class="widget_fullLink")
											.widget_topBar
												span.widget_indicator News : Article
											h3.widget_heading.widget-heading--sm Leadership Changes in ARS and AON Inpoint
											ul.widget_infoList
												li Dec 29, 2016
												li.icon-heart 103
									.col-md-6.widget.widget--2-1
										.widget_content.widget_content--img(style="background-image:url(http://fillmurray.com/395/185")
											a(href="", class="widget_fullLink")
											.widget_topBar
												span.widget_indicator News : Article
											h3.widget_heading.widget-heading--sm Expanding our Health and Benefits reach in Latin America
											ul.widget_infoList
												li Dec 29, 2016
												li.icon-heart 103
							.col-md-6
								.row
									.col-md-6.widget.widget--1-1
										.widget_content.widget_content--tools(style="background:#48b0f7")
											.widget_topBar
												span.widget_indicator News : Company
												a(href="") View All
											ul.newsList.widget_newsList
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
									.col-md-6.widget.widget--1-1
										.widget_content.widget_content--tools(style="background:#10cfbd")
											.widget_topBar
												span.widget_indicator News : Location
												a(href="") View All
											ul.newsList.widget_newsList
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
									.col-md-6.widget.widget--1-1
										.widget_content.widget_content--tools(style="background:#939393")
											.widget_topBar
												span.widget_indicator My Tools
												a(href="", class="icon-cog") Manage Tools
											ul.toolList
												li
													a(href="") Advantageous
												li 
													a(href="") AON Client Promise
												li 
													a(href="") AON Cares - GAYE Form
												li 
													a(href="") AON Expense / Finance Portal
												li 
													a(href="") Aon Offices Worldwide - Premises Look Up
												li 
													a(href="") Video Conferencing
												li 
													a(href="") Sharepoint (Microsoft Hosted)
												li 
													a(href="") Control M - Self Service
												li 
													a(href="") Outlook Web App (OWA)
												li 
													a(href="") Google Analytics @ AON
												li 
													a(href="") MYTOKEN Self Service Site (Mobilepass)
									.col-md-6.widget.widget--1-1
										.widget_content(style="background:#6d5cae")
											.widget_topBar
												span.widget_indicator My Schedule
												a(href="", class="icon-cog") Manage
											ul.eventList
												li
													span.eventList_date
														| Thu 
														span 22
														| DEC
													span.eventList_info
														p.eventList_title lorem ipsum dolor sit amet
														p 12:00 PM - 1:00pm
														p Organizer : Atul Chada
												li
													span.eventList_date
														| Thu 
														span 22
														| DEC
													span.eventList_info
														p.eventList_title lorem ipsum dolor sit amet
														p 12:00 PM - 1:00pm
														p Organizer : Atul Chada
												li
													span.eventList_date
														| Thu 
														span 22
														| DEC
													span.eventList_info
														p.eventList_title lorem ipsum dolor sit amet
														p 12:00 PM - 1:00pm
														p Organizer : Atul Chada
							.col-md-6
								.row
									.col-12.widget.widget--2-1
										.widget_content
											.widget_indicator.icon-triangle-right-alt2
											h3.widget_heading Everything you need to know to start a "client Conversation"
											p yoyo
									.col-12.widget.widget--2-1
										.widget_content
											.widget_indicator.icon-triangle-right-alt2
											h3.widget_heading Everything you need to know to start a "client Conversation"
											p yoyo
							.col-md-6
								.row
									.col-md-6.widget.widget--1-1
										.widget_content
											.widget_indicator.icon-triangle-right-alt2
											h3.widget_heading Everything you need to know to start a "client Conversation"
											p yoyo
									.col-md-6.widget.widget--1-1
										.widget_content
											.widget_indicator.icon-triangle-right-alt2
											h3.widget_heading Everything you need to know to start a "client Conversation"
											p yoyo
									.col-12.widget.widget--2-1
										.widget_content
											.widget_indicator.icon-triangle-right-alt2
											h3.widget_heading Everything you need to know to start a "client Conversation"
											p yoyo
							.col-md-6.col-xl-8
								.row
									.col-md-6.widget.widget--2-1
										.widget_content
											.widget_indicator.icon-triangle-right-alt2
											h3.widget_heading Everything you need to know to start a "client Conversation"
											p yoyo
									.col-md-6.widget.widget--2-1
										.widget_content
											.widget_indicator.icon-triangle-right-alt2
											h3.widget_heading Everything you need to know to start a "client Conversation"
											p yoyo
									.col-md-6.widget.widget--2-1
										.widget_content
											.widget_indicator.icon-triangle-right-alt2
											h3.widget_heading Everything you need to know to start a "client Conversation"
											p yoyo
									.col-md-6.widget.widget--2-1
										.widget_content
											.widget_indicator.icon-triangle-right-alt2
											h3.widget_heading Everything you need to know to start a "client Conversation"
											p yoyo

				include includes/_footerMain.pug

				script.
					$(document).ready(function() {
						$('.dropdown-toggle').dropdown()
					});
