doctype html
html(lang="en")
	head
		include includes/_head.pug
		title Home

	body
		form#form01
			.pageWrap
				include includes/_navBar.pug
				include includes/_header-main.pug
				main
					.container-fluid
						.row.widgets
							.col-md-6
								.row
									.col-12.widget.widget--3-2
										.widget_content.widget_content--img(style="background-image:url(/img/news01.jpg)")
											a(href="", class="widget_fullLink")
											.widget_topBar
												span.widget_indicator News : Video
											h3.widget_heading Everything you need to know to start a "Client Conversation"
											ul.widget_infoList
												li Dec 29, 2016
												li.icon-heart 103
									.col-md-6.widget.widget--2-1
										.widget_content.widget_content--img(style="background-image:url(/img/news02.jpg)")
											a(href="", class="widget_fullLink")
											.widget_topBar
												span.widget_indicator News : Article
											h3.widget_heading.widget-heading--sm Leadership Changes in ARS and AON Inpoint
											ul.widget_infoList
												li Dec 29, 2016
												li.icon-heart 103
									.col-md-6.widget.widget--2-1
										.widget_content.widget_content--img(style="background-image:url(/img/news03.jpg)")
											a(href="", class="widget_fullLink")
											.widget_topBar
												span.widget_indicator News : Article
											h3.widget_heading.widget-heading--sm Expanding our Health and Benefits reach in Latin America
											ul.widget_infoList
												li Dec 29, 2016
												li.icon-heart 103
							.col-md-6
								.row
									.col-md-6.widget.widget--1-1
										.widget_content.widget_content--contrastBlue
											.widget_topBar
												span.widget_indicator News : Company
												a(href="") View All
											ul.newsList.widget_newsList
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
									.col-md-6.widget.widget--1-1
										.widget_content.widget_content--contrastAqua
											.widget_topBar
												span.widget_indicator News : Location
												.dropdown.widget_dropdown
													a#dropdownMenuLink.icon-ellipsis.dropdown-toggle(href='https://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
													.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuLink')
														a.dropdown-item(href='#') Today
														a.dropdown-item(href='#') This Week
														a.dropdown-item(href='#') Manage Calendar
											ul.newsList.widget_newsList
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
									.col-md-6.widget.widget--1-1
										.widget_content
											.widget_topBar
												span.widget_indicator My Tools
												.searchBox.widget_searchBox
													input.searchBox-textField(type='text', name='', placeholder='search')
													a.searchBox-submit
												a(href="", class="icon-cog") Manage
											ul.toolList.widget_toolList
												li
													a(href="") Advantageous
												li 
													a(href="") AON Client Promise
												li 
													a(href="") AON Cares - GAYE Form
												li 
													a(href="") AON Expense / Finance Portal
												li 
													a(href="") Aon Offices Worldwide - Premises Look Up
												li 
													a(href="") Video Conferencing
												li 
													a(href="") Sharepoint (Microsoft Hosted)
												li 
													a(href="") Control M - Self Service
												li 
													a(href="") Outlook Web App (OWA)
												li 
													a(href="") Google Analytics @ AON
												li 
													a(href="") MYTOKEN Self Service Site (Mobilepass)
									.col-md-6.widget.widget--1-1
										.widget_content.widget_content--contrastGray
											.widget_topBar
												span.widget_indicator My Schedule
												//a(href="", class="icon-cog") Manage
												.dropdown.widget_dropdown
													a#dropdownMenuLink.icon-ellipsis.dropdown-toggle(href='https://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
													.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuLink')
														a.dropdown-item(href='#') Today
														a.dropdown-item(href='#') This Week
														a.dropdown-item(href='#') Manage Calendar
											ul.eventList.widget_eventList
												li
													span.eventList_date
														| Thu 
														span 22
														| DEC
													span.eventList_info
														p.eventList_title lorem ipsum dolor sit amet
														p 12:00 PM - 1:00pm
														p Organizer : Atul Chada
												li
													span.eventList_date
														| Thu 
														span 22
														| DEC
													span.eventList_info
														p.eventList_title lorem ipsum dolor sit amet
														p 12:00 PM - 1:00pm
														p Organizer : Atul Chada
												li
													span.eventList_date
														| Thu 
														span 22
														| DEC
													span.eventList_info
														p.eventList_title lorem ipsum dolor sit amet
														p 12:00 PM - 1:00pm
														p Organizer : Atul Chada
												li
													span.eventList_date
														| Thu 
														span 22
														| DEC
													span.eventList_info
														p.eventList_title lorem ipsum dolor sit amet
														p 12:00 PM - 1:00pm
														p Organizer : Atul Chada
												li
													span.eventList_date
														| Thu 
														span 22
														| DEC
													span.eventList_info
														p.eventList_title lorem ipsum dolor sit amet
														p 12:00 PM - 1:00pm
														p Organizer : Atul Chada
												li
													span.eventList_date
														| Thu 
														span 22
														| DEC
													span.eventList_info
														p.eventList_title lorem ipsum dolor sit amet
														p 12:00 PM - 1:00pm
														p Organizer : Atul Chada

				include includes/_footerMain.pug

				script.
					$(document).ready(function() {
						$('.dropdown-toggle').dropdown()
					});
