doctype html
html(lang="en")
	head
		include includes/_head.pug
		title Home

	body
		include includes/_header-main.pug
		main
			.container-fluid
				.row.widgets
					.col-md-6.col-xl-4
						.row
							.col-12.widget.widget--3-2
							.col-md-6.widget.widget--2-1
							.col-md-6.widget.widget--2-1
					.col-md-6.col-xl-4
						.row
							.col-md-6.widget.widget--1-1
							.col-md-6.widget.widget--1-1
							.col-md-6.widget.widget--1-1
							.col-md-6.widget.widget--1-1
					.col-md-6.col-xl-4
						.row
							.col-12.widget.widget--2-1
							.col-12.widget.widget--2-1
					.col-md-6.col-xl-4
						.row
							.col-md-6.widget.widget--1-1
							.col-md-6.widget.widget--1-1
							.col-12.widget.widget--2-1
					.col-md-6.col-xl-8
						.row
							.col-md-6.widget.widget--2-1
							.col-md-6.widget.widget--2-1
							.col-md-6.widget.widget--2-1
							.col-md-6.widget.widget--2-1

		include includes/_footerMain.pug

		script.
			$(document).ready(function() {
				$('.dropdown-toggle').dropdown()
			});
