doctype html
html(lang="en")
	head
		include includes/_head.pug
		title Page Title

	body
		main
			.container
				table.table-striped
					thead
						tr
							th #
							th Page Template
							th Description
							th Modules
					tbody
						tr
							th(scope='row')
							td
								a(href='home.html') home
							td
							td

				

