doctype html
html(lang="en")
	head
		include includes/_head.pug
		title Interior

	body
		form#form01
			.pageWrap
				include includes/_navBar.pug
				include includes/_header-main.pug
				main
					.container-fluid
						.row.widgets
							.col-md-9
								article.articleMain
									figure
										img(src="/img/mars.jpg", class="img-fluid")
										figcaption Caption describing image, crediting source, etc.
									h1.mb-3 Life on Mars? Our experts weigh in on interplanetary travel
									.infoActions
										ul.infoActions_info
											li Dec 29, 2016
											li.icon-heart-alt 103
											li.icon-chat-alt 103
										ul.infoActions_actions
											li
												a(href="",class="icon-heart")
											li
												a(href="",class="icon-mail")
											li
												a(href="",class="icon-printer-alt")
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum quam felis, et fringilla arcu fringilla a. Nam turpis eros, ultricies non maximus a, vehicula venenatis est. Fusce ornare tincidunt felis, id sagittis libero suscipit in. Nullam id tortor vehicula, aliquet felis et, porttitor velit. Aenean est dui, tempor sit amet elit eu, porta aliquam odio. Quisque congue quam in felis mollis, imperdiet finibus quam porttitor. Morbi ultrices massa eu blandit congue. Suspendisse sit amet convallis urna. Morbi sem felis, lacinia tempor egestas ut, posuere in ante. Mauris tincidunt vulputate lorem. Mauris dapibus, mi in vulputate eleifend, velit leo viverra tortor, at aliquet orci magna nec massa.
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum quam felis, et fringilla arcu fringilla a. Nam turpis eros, ultricies non maximus a, vehicula venenatis est. Fusce ornare tincidunt felis, id sagittis libero suscipit in. Nullam id tortor vehicula, aliquet felis et, porttitor velit. Aenean est dui, tempor sit amet elit eu, porta aliquam odio. Quisque congue quam in felis mollis, imperdiet finibus quam porttitor. Morbi ultrices massa eu blandit congue. Suspendisse sit amet convallis urna. Morbi sem felis, lacinia tempor egestas ut, posuere in ante. Mauris tincidunt vulputate lorem. Mauris dapibus, mi in vulputate eleifend, velit leo viverra tortor, at aliquet orci magna nec massa.
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum quam felis, et fringilla arcu fringilla a. Nam turpis eros, ultricies non maximus a, vehicula venenatis est. Fusce ornare tincidunt felis, id sagittis libero suscipit in. Nullam id tortor vehicula, aliquet felis et, porttitor velit. Aenean est dui, tempor sit amet elit eu, porta aliquam odio. Quisque congue quam in felis mollis, imperdiet finibus quam porttitor. Morbi ultrices massa eu blandit congue. Suspendisse sit amet convallis urna. Morbi sem felis, lacinia tempor egestas ut, posuere in ante. Mauris tincidunt vulputate lorem. Mauris dapibus, mi in vulputate eleifend, velit leo viverra tortor, at aliquet orci magna nec massa.
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum quam felis, et fringilla arcu fringilla a. Nam turpis eros, ultricies non maximus a, vehicula venenatis est. Fusce ornare tincidunt felis, id sagittis libero suscipit in. Nullam id tortor vehicula, aliquet felis et, porttitor velit. Aenean est dui, tempor sit amet elit eu, porta aliquam odio. Quisque congue quam in felis mollis, imperdiet finibus quam porttitor. Morbi ultrices massa eu blandit congue. Suspendisse sit amet convallis urna. Morbi sem felis, lacinia tempor egestas ut, posuere in ante. Mauris tincidunt vulputate lorem. Mauris dapibus, mi in vulputate eleifend, velit leo viverra tortor, at aliquet orci magna nec massa.
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum quam felis, et fringilla arcu fringilla a. Nam turpis eros, ultricies non maximus a, vehicula venenatis est. Fusce ornare tincidunt felis, id sagittis libero suscipit in. Nullam id tortor vehicula, aliquet felis et, porttitor velit. Aenean est dui, tempor sit amet elit eu, porta aliquam odio. Quisque congue quam in felis mollis, imperdiet finibus quam porttitor. Morbi ultrices massa eu blandit congue. Suspendisse sit amet convallis urna. Morbi sem felis, lacinia tempor egestas ut, posuere in ante. Mauris tincidunt vulputate lorem. Mauris dapibus, mi in vulputate eleifend, velit leo viverra tortor, at aliquet orci magna nec massa.
									hr
									h3.mb-4 Comments
									a(name='comments')
									.comment
										p.comment-byline 01 June 2015 - Username Here
										p
											| User comment goes here... Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam ac mauris. Quisque eget metus eget tellus ultrices rhoncus. Phasellus id lacus semper lacus suscipit pretium. Nulla mollis ligula id tellus.
										p
											a.comment-replyLink(href="") Reply
									.comment.comment-reply
										p.comment-byline 01 June 2015 - Username Here
										p
											| User reply goes here... Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam ac mauris. Quisque eget metus eget tellus ultrices rhoncus. Phasellus id lacus semper lacus suscipit pretium. Nulla mollis ligula id tellus.
										p
											a.comment-replyLink(href="") Reply
									.comment.comment-reply
										p.comment-byline 01 June 2015 - Username Here
										p
											| User reply goes here... Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam ac mauris. Quisque eget metus eget tellus ultrices rhoncus. Phasellus id lacus semper lacus suscipit pretium. Nulla mollis ligula id tellus.
										p
											a.comment-replyLink(href="") Reply
									.comment
										p.comment-byline 01 June 2015 - Username Here
										p
											| User comment goes here... Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam ac mauris. Quisque eget metus eget tellus ultrices rhoncus. Phasellus id lacus semper lacus suscipit pretium. Nulla mollis ligula id tellus.
										p
											a.comment-replyLink(href="") Reply
									.comment
										p.comment-byline 01 June 2015 - Username Here
										p
											| User comment goes here... Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam ac mauris. Quisque eget metus eget tellus ultrices rhoncus. Phasellus id lacus semper lacus suscipit pretium. Nulla mollis ligula id tellus.
										p
											a.comment-replyLink(href="") Reply
							.col-md-3
								.row
									.col-12.widget.widget--1-1
										.widget_content.widget_content--contrastBlue
											.widget_topBar
												span.widget_indicator News : Company
												a(href="") View All
											ul.newsList.widget_newsList
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
									.col-12.widget.widget--1-1
										.widget_content.widget_content--contrastAqua
											.widget_topBar
												span.widget_indicator News : Location
												.dropdown.widget_dropdown
													a#dropdownMenuLink.icon-ellipsis.dropdown-toggle(href='https://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
													.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuLink')
														a.dropdown-item(href='#') Today
														a.dropdown-item(href='#') This Week
														a.dropdown-item(href='#') Manage Calendar
											ul.newsList.widget_newsList
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103
												li
													p Perks vs. Pay: When are donuts sweeter than cash?
													ul.widget_infoList
														li Dec 29, 2016
														li.icon-heart 103

				include includes/_footerMain.pug

				script.
					$(document).ready(function() {
						$('.dropdown-toggle').dropdown()
					});
