doctype html
html(lang="en")
	head
		include includes/_head.pug
		title Search Results

	body
		form#form01
			.pageWrap
				include includes/_navBar.pug
				include includes/_header-main.pug
				main
					.container-fluid
						.row
							.col-md-3
								.filters
									h2.filters-heading Refine Your Results
									h3.filters-subHeading Categories
									ul.filters-list.truncateList
										li
											a(href='') Filter Option (22)
										li
											a(href='') Filter Option (18)
										li
											a(href='') Filter Option (7)
										li
											a(href='') Filter Option (3)
									h3.filters-subHeading Types
									ul.filters-list.truncateList
										li
											a(href='') Filter Option (13)
										li
											a(href='') Filter Option (11)
										li
											a(href='') Filter Option (7)
										li
											a(href='') Filter Option (3)
										li
											a(href='') Filter Option (14)
										li
											a(href='') Filter Option (8)
										li
											a(href='') Filter Option (18)
										li
											a(href='') Filter Option (23)
										li
											a(href='') Filter Option (9)
										li
											a(href='') Filter Option (4)
										li
											a(href='') Filter Option (7)
							.col-md-9
								.resultsTools
									.resultsTools-results
										span.resultsTools-count 247 posts
										a.resultsTools-mobileFilterDrawerToggle.drawerToggle(data-for='filters-mobile', href='javascript:void(0)') Refine Results
									.resultsTools-options
										.pagination
											.pageNumbers
												a.prev.inactive(onclick='return false;', href='javascript:void(0)')
												span.current 1
												a(href='javascript:void(0)') 2
												a(href='javascript:void(0)') 3
												a(href='javascript:void(0)') 4
												a(href='javascript:void(0)') 5
												a.next(href='javascript:void(0)')
								.searchItem
									.searchItem_body
										.searchItem_heading
											a(href="") Result Title
										.searchItem_info
											| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam ac mauris. Quisque eget metus eget tellus ultrices rhoncus. Phasellus id lacus semper lacus suscipit pretium. Nulla mollis ligula id tellus. Duis ac libero. Nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus sodales lacus a risus.Vivamus sodales lacus a risus.
								.searchItem
									.searchItem_body
										.searchItem_heading
											a(href="") Result Title
										.searchItem_info
											| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam ac mauris. Quisque eget metus eget tellus ultrices rhoncus. Phasellus id lacus semper lacus suscipit pretium. Nulla mollis ligula id tellus. Duis ac libero. Nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus sodales lacus a risus.Vivamus sodales lacus a risus.
								.searchItem
									.searchItem_body
										.searchItem_heading
											a(href="") Result Title
										.searchItem_info
											| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam ac mauris. Quisque eget metus eget tellus ultrices rhoncus. Phasellus id lacus semper lacus suscipit pretium. Nulla mollis ligula id tellus. Duis ac libero. Nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus sodales lacus a risus.Vivamus sodales lacus a risus.
								.searchItem
									.searchItem_body
										.searchItem_heading
											a(href="") Result Title
										.searchItem_info
											| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam ac mauris. Quisque eget metus eget tellus ultrices rhoncus. Phasellus id lacus semper lacus suscipit pretium. Nulla mollis ligula id tellus. Duis ac libero. Nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus sodales lacus a risus.Vivamus sodales lacus a risus.
								.searchItem
									.searchItem_body
										.searchItem_heading
											a(href="") Result Title
										.searchItem_info
											| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam ac mauris. Quisque eget metus eget tellus ultrices rhoncus. Phasellus id lacus semper lacus suscipit pretium. Nulla mollis ligula id tellus. Duis ac libero. Nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus sodales lacus a risus.Vivamus sodales lacus a risus.
								.text-center
									.pagination
										.pageNumbers
											a.prev.inactive(onclick='return false;', href='javascript:void(0)')
											span.current 1
											a(href='javascript:void(0)') 2
											a(href='javascript:void(0)') 3
											a(href='javascript:void(0)') 4
											a(href='javascript:void(0)') 5
											a.next(href='javascript:void(0)')

				include includes/_footerMain.pug

				script.
					$(document).ready(function() {
						$('.dropdown-toggle').dropdown();
						truncateList(5);

					});
